<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>UserName: @ViewBag.roni.UserName</p>
    <p>Nombre: @ViewBag.roni.Nombre</p>
    <p>Email: @ViewBag.roni.Email</p>
    <p>Telefono: @ViewBag.roni.Telefono</p>

    <small class="text-muted"><a href='@Url.Action("IrInicio","Home")'><button>Ir al Inicio</button></a></small>
</body>
</html>