<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Su UserName es: @ViewBag.username</p>
    <p>Su Nombre es: @ViewBag.nombre</p>
    <p>Su Contraseña es: @ViewBag.contraseña</p>
    <p>Su Email es: @ViewBag.email</p>
    <p>Su Telefono es: @ViewBag.telefono</p>
</body>
</html>