<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Su UserName es: @ViewBag.roni.UserName</p>
    <p>Su Nombre es: @ViewBag.roni.Nombre</p>
    <p>Su Contraseña es: @ViewBag.roni.Contraseña</p>
    <p>Su Email es: @ViewBag.roni.Email</p>
    <p>Su Telefono es: @ViewBag.eoni.Telefono</p>
</body>
</html>